body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {

  font-size: 5.625em;/* 100 % = 16px 1 em = 16px*/
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66BFBF;

}

h2 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}
p{
  line-height: 2;
}
hr{
  border: dotted #11999E 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.dsa{
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.Full-Stack{
   width: 25%;
   float: right;
   margin-left: 30px;
}
a{
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.pro {
  text-decoration: underline;
}
.profile1{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.middle-container {
  margin: 100px 0 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px auto;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #2BC4AD 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #3D94F6);
   background-image: -moz-linear-gradient(top, #30E3CB, #3D94F6);
   background-image: -ms-linear-gradient(top, #30E3CB, #3D94F6);
   background-image: -o-linear-gradient(top, #30E3CB, #3D94F6);
   background-image: -webkit-gradient(to bottom, #30E3CB, #3D94F6);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
